@page "/"

@* HTML HERE: *@
<PageTitle>Index</PageTitle>
<h1>Hello, world!</h1>
Welcome to your new app.

@* Calling reusable component "SurveyPrompt.razor" and passing parameter "Title" *@
<SurveyPrompt Title="How is Blazor working for you?" />
@* Calling reusuable compoent "Counter.razor" and passing parameter "IncrementAmount" *@
<Counter IncrementAmount="10"/>
